---
---
<!-- get modelType -->
{% include fragment-modelType.html id='BRRacaCorEtnia-1.0' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='BRRacaCorEtnia-1.0' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: BRRacaCorEtnia - Change History</h2>
{% include fragment-simpletable.html %}
  <p>Changes in the BRRacaCorEtnia-1.0 {{modelType | downcase}}.</p>

  {%include StructureDefinition-BRRacaCorEtnia-1.0-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
